:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px auto;
  max-width: 1024px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.active {
  color: rgb(246, 235, 18);
}

.navcss {
  display: flex;
  justify-content: space-between;
  background-color: red;
  padding: 10px;
  gap: 10px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: fit-content;
  background-color: #454242;
}
.pokecentral {
  max-width: 450px;
  margin: 10px;
}

.card {
  max-width: 200px;
  margin: 10px;
  border-radius: 10px solid;
  background-color: #454242;
}

.navcss {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  padding: 10px;
  gap: 10px;
}

.links {
  display: flex;
  padding: 10px;
  gap: 10px;
}

.selector {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #454242;
}

.h3 {
  font-style: italic;
  text-transform: uppercase;
}
.lista {
  text-decoration: none;
}

.ver_poke {
  margin: 10px;
  padding: 10px;
  width: 250px;
}

.sel_poke {
  margin: 10px;
  padding: 10px;
  width: 250px;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: #616161;
  border-radius: 10px;
}
